body {
    background: #162B35;
    color: white;
    font-family: 'Montserrat', sans-serif;
    display: flex;
    flex-wrap: wrap;
    flex-flow: row;
    justify-content: space-evenly;
    text-align: center; 

}

h1{
    font-size: 60px;
    margin: 15%;
}


main{
    position: absolute;
    top: 20%;
}

button{
    width: 180px;
    height: 50px;
    margin-top: 30px;
    border-radius: 20px;
    cursor: pointer;
    border-color: #2CB6B7;
    font-size: 16px;
    background: #2CB6B7;
    color: white;
}


button:hover{
    color: #162B35;
    border-color: #162B35;
    background: #F85056;
}

.game-board{
  display: flex;
  flex-flow: row;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center; 
  width: 320px;
  height: 350px;
}

.square{
width: 100px;
height: 110px;
padding: 0%;
margin: 0%;
align-content: center;
align-items: center;

}

.square:hover{
    background: rgba(21, 53, 70, 0.262);
    cursor: pointer;
}

#s0, #s1, #s2, #s3, #s4, #s5{
    border-bottom: 10px solid #23343D;
}

#s1, #s2, #s4, #s5, #s7, #s8{
    border-left: 10px solid #23343D;
}

footer{
    position: fixed;
    bottom: 0;
    cursor: pointer;
}





@media (max-width: 414px) { 

    body{
    width: 100%;
    height: 100%;
}

    main{
        left: 0px ;
    }

.game-board{
    display: flex;
    flex-flow: row;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center; 
    width: 98%;
    height: 100%;
  }

  h1{
    font-size: 40px;
    margin-top: 30%;
}



#s0, #s1, #s2, #s3, #s4, #s5{
    border-bottom: 3px solid #23343D;
    
}

#s1, #s2, #s4, #s5, #s7, #s8{
    border-left: 3px solid #23343D;
}


.square{
    width: 100px;
    height: 115px;
    padding: 0%;
    margin: 0%;
    align-content: center;
    align-items: center;
    
    }


    footer{
        position: fixed;
        bottom: 0px;
    }


    p{
        padding-top: 20px;
        margin: 16px;
    }

    button{
        margin-top: 60px;
    }

    #again{
        margin-top: 30px;   
    }


}



@media (max-width: 768px) and (min-width: 415px){

    .game-board{
        display: flex;
        flex-flow: row;
        flex-wrap: wrap;
        justify-content: center;
        text-align: center; 
        width: 100%;
        height: 100%;
      }  


      .square{
        width: 187px;
        height: 170px;
        padding: 0%;
        margin: 0%;
        align-content: center;
        align-items: center;
        
        }


        h1{
            font-size: 70px;
            margin-top: 25%;
        }
}
